
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
        .text, .text::before, .text::after {
            font-family: 'Open Sans', sans-serif;
            color:white;
        }
        :root {
            --Violet: hsl(257, 40%, 49%); 
            --Soft_Magenta: hsl(300, 69%, 71%);
        }
            .attribution {
            font-size: 11px;
            text-align: center;
        }

            .attribution a {
                color: hsl(228, 45%, 44%);
            }

        body {
            background: url("./images/bg-desktop.svg");
           background-color:var(--Violet);
        }
        i:hover {
            color:var(--Soft_Magenta);
        }

        .btn:hover {
            background-color: var(--Soft_Magenta);
        }

        i {
            color: white;
            font-size: 40px;
            margin: 5px;
        }
        .btn {
            background-color: white;
            color: var(--Violet);
            width: 200px;
            height: 50px;
            border-radius: 20px;
            margin-bottom: 70px;
            font-family: 'Open Sans', sans-serif;
            font-weight:500;
        }
      .margin{
          margin:20px;
      }
      h3{
          font-weight:600;
      }
    

        @media screen and (max-width:600px) {


            body {
                background: url("./images/bg-mobile.svg");
                background-color: var(--Violet);
            }
            .divBtn{
               text-align:center;
            }
        }
